<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#009688">
    <title>Skyhook-Dtech</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@13.0.0/dist/material-components-web.min.css"
            integrity="sha384-zYyxh4r8CWy0xvG1ua+/rTeQmFY/YhmqzzaqluuGnN9+fCFSj/jF1AwiW9p+KUW/"
            crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" type="text/css" href=".<%= hostPath %>style.css">
</head>
<header class="mdc-top-app-bar mdc-top-app-bar--fixed" style="position: relative;">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <span class="mdc-top-app-bar__title">Skyhook-Dtech</span>
        </section>
    </div>
</header>
<main>

    <div class="mdc-typography">
        <div class="mdc-card demo-card">
            <p>
                Skyhook parses webhooks and forwards them in the proper format to Discord. Customized by Decipher Tech.
            </p>
            <p>
                In order to have skyhook parse your webhooks properly, you must generate a webhook URL. Once you have the
                URL generated,
                you can pass it along to the provider you selected.
            </p>

            <br />

            <label class="mdc-text-field mdc-text-field--filled" data-mdc-auto-init="MDCTextField" style="width: 100%;">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label" id="url-label">Discord Webhook URL</span>
                <input id="url" class="mdc-text-field__input" type="text" aria-labelledby="url-label">
                <span class="mdc-line-ripple"></span>
            </label>

            <p>Provider</p>
            <section>
                <% providers.forEach(function (provider, index) { %>
                <div class="mdc-form-field">
                    <div class="mdc-radio">
                        <input class="mdc-radio__native-control" type="radio" id="ex2-radio<%= index %>" name="ex2"
                            value="<%= provider.path %>">
                        <div class="mdc-radio__background">
                            <div class="mdc-radio__outer-circle"></div>
                            <div class="mdc-radio__inner-circle"></div>
                        </div>
                    </div>
                    <label id="ex2-radio1-labe<%= index %>" for="ex2-radio<%= index %>"><%= provider.name %></label>
                </div>
                <% }) %>
            </section>
            <br/>
            <button
                id="button-generate"
                class="mdc-button mdc-button--raised mdc-button--primary mdc-ripple-surface"
                data-mdc-auto-init="MDCRipple"
            >
                Generate
            </button>

            <aside id="mdc-js-snackbar" class="mdc-snackbar">
                <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
                    <div class="mdc-snackbar__label" aria-atomic="false"></div>
                    <div class="mdc-snackbar__actions" aria-atomic="true">
                        <button type="button" class="mdc-button mdc-snackbar__action"></button>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</main>
<script src="https://unpkg.com/material-components-web@13.0.0/dist/material-components-web.min.js"
        integrity="sha384-8iww5N0HFABAFdwBAcqef8367heaZqV6cGdI2zjVr6ztCVbINoKlnoyYyCvkEtAt"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/clipboard@2.0.8/dist/clipboard.min.js"
        integrity="sha384-CUdYwYFu8WmBI8h257c5rCd1GQX0KL+zSYV6kyRNY2thW7QqQymKGfTCI1WHwzvy"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src=".<%= hostPath %>client.js"></script>

</html>
